<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>To Do App - Kata</title>
</head>

<script>
  
</script>

<body>
    <!-- Uses built-in `if` helper. -->
  {{#if showTitle}}
    <h1>Home</h1>
  {{/if}}
    <!-- Calls `foo` helper, overridden at render-level. -->
    <p>{{foo}}</p>
    <!-- Calls `bar` helper, defined at instance-level. -->
    <p>{{bar}}</p>
    {{#each renderAll}}
    <div class="items">
      {{item}}
    </div>
    {{/each}}
    <form class="submit" action="#" method="post">
      <input type="text" name="input">
      <input type="button" name="submit" value="submit">
    </form>

</body>

</html>
